@using Data
@model IEnumerable<Post>

<div class="row">
    <table class="table table-bordered table-striped">
        @foreach(var post in Model)
        {
            <tr>
                <td><a href="@post.Url">@post.Title</a></td>
                <td><img src="@post.ImageUrl" style="width: 250px;" /></td>
                <td>
                    @if (post.Date != null)
                    {
                        <span>@post.Date</span>
                    }
                </td>
            </tr>
        }
    </table>
</div>
